<section class="values_conteiner">
    <div class="titles_conteiner">
        <h1>Nossos Valores</h1>
        <p>Veja abaixo sobre nosso valores:</p>
    </div>
    <div class="cards_conteiner">
        <app-card-values 
        [imagePath]="'../../../../../assets/images/values/icon_values.svg'"
        [title]="'Desafios em Oportunidades: O Poder da Parceria'"
        [text]="'Superamos obstáculos e transformamos desafios em oportunidades de crescimento através da parceria.'"
        />

        <app-card-values 
        [imagePath]="'../../../../../assets/images/values/icon_values2.svg'" 
        [title]="'Crescendo Juntos: Parceria para o Sucesso'"
        [text]="'Nosso sucesso é alcançado ao crescer lado a lado com nossos clientes, com foco em resultados duradouros.'" 
        />

        <app-card-values
         [imagePath]="'../../../../../assets/images/values/icon_values3.svg'"
         [title]="'Juntos pelo Sucesso: Equipe e Cliente em Sinergia'"
         [text]="'A sintonia entre nossa equipe e o cliente gera soluções eficazes e resultados sustentáveis.'"
         />
    </div>
</section>