    <app-header/>
    <app-home/>
    <app-values/>
    <app-informative/>
    <app-conteiner-history-and-obejective
        [title]="'Nosso Objetivo'" 
        [text]="'Nosso objetivo é proporcionar soluções inovadoras e eficientes para nossos clientes, promovendo um ambiente de colaboração e crescimento mútuo. Acreditamos que o sucesso é alcançado através de parcerias fortes, onde enfrentamos desafios juntos, transformando-os em oportunidades. Trabalhamos para otimizar processos, melhorar a gestão e promover a sustentabilidade dos negócios, com foco em resultados que beneficiem tanto nossa empresa quanto os nossos clientes. Nosso compromisso é com a excelência, a transparência e o desenvolvimento contínuo, criando um impacto positivo no mercado e na sociedade.'" 
        [padding]="'min'"
        [pathImage]="'../../../../../assets/images/objective/obejedtive.svg'"
        [image_location]="'left'"/>
    <app-conteiner-history-and-obejective
    [title]="'Quem somos nós?'"
    [text]="'Nossa jornada começou em uma garagem, com a missão de transformar a gestão de inventário e ajudar empresas a otimizar seus processos. Desde o início, acreditávamos que soluções inteligentes e eficientes eram a chave para o sucesso, oferecendo precisão no controle de estoques e redução de custos. Com o tempo, investimos em tecnologia e automação, expandindo nossas soluções e fornecendo suporte contínuo aos nossos clientes. Nosso objetivo sempre foi capacitar empresas a tomar decisões mais informadas e melhorar sua rentabilidade por meio de uma gestão de inventário eficaz. Hoje, somos um parceiro estratégico para empresas que buscam excelência na gestão de estoques, sempre focados em resultados sustentáveis e satisfação do cliente.'"
    [padding]="'avg'"
    [pathImage]="'../../../../../assets/images/history/history1.svg'"
    [image_location]="'right'"
    />
    <app-conteiner-history-and-obejective
    [text]="'Foi a partir dessa visão que fundamos um sistema de gerenciamento de inventário totalmente voltado para as necessidades do cliente. Focamos em criar uma plataforma intuitiva, flexível e eficiente, que permitisse aos nossos clientes gerenciar seus estoques de maneira prática e personalizada, com foco em resultados reais. Investimos em tecnologia e automação para expandir nossas soluções e garantir suporte contínuo aos nossos clientes. Nosso compromisso é ajudar as empresas a tomar decisões mais informadas e melhorar sua rentabilidade por meio de uma gestão de inventário eficaz.Hoje, somos um parceiro estratégico para empresas que buscam excelência na gestão de estoques, sempre focados em resultados sustentáveis e na satisfação do cliente.'"
    [padding]="'avg'"
    [pathImage]="'../../../../../assets/images/history/history2.svg'"
    [image_location]="'right'"
    [backgroundColor]="'grey'"
    />

    <app-footer/>
        
