<section>
    <div  class="conteiner_title">
        <h1>Vantagens da gestão do seu inventário</h1>
    </div>
    <div class="advantages_container">
        <app-advantage [title]="'Eficiência Operacional'" [imagePath]="'../../../../../assets/images/advantage/advantage1.svg'"/>
        <app-advantage [title]="'Aumento da Rentabilidade'"  [imagePath]="'../../../../../assets/images/advantage/advantage2.svg'"/>
        <app-advantage [title]="'Redução de Custos'" [imagePath]="'../../../../../assets/images/advantage/advantage3.svg'"/>
        <app-advantage [title]="'Conformidade Fiscal'"[imagePath]="'../../../../../assets/images/advantage/advantage4.svg'"/>
    </div>
</section>