<footer>
    <div class="conteiner_content">
        <p>
            Copyright © 2020 BizMMangaer.
            All rights reserved
        </p>
        <div class="conteiner_social_midia">
            <img src="../../../../../assets/images/social_midia/social_Icons.svg" alt="" srcset="">
            <img src="../../../../../assets/images/social_midia/social_icons2.svg" alt="">
            <img src="../../../../../assets/images/social_midia/social_icons3.svg" alt="">
        </div>
    </div>
</footer>