@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.card_conteiner{
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img{
    width: 120px;
    height: auto;
}
h2{
    font-family: "Inter", serif;
    font-size: 25px;
    color: #4D4D4D;
}

p{
    font-size: 20px;
    color: #717171;

}